<mat-card class="card">
    <mat-card-content>
        <img class="image" alt="sai" src="assets/sai.jpg">
        <h1 class="h1tag"><b>SAI</b></h1>
        <h3>Name : Saikumar</h3>
        <h3>Profession : Java full stack developer</h3>
        <h3><mark>BMI Calculator made by SVM team</mark></h3>
        <a href="https://github.com/sunny01saikumar">My github link</a>
        <p>A Body Mass Index (BMI) calculator is a simple tool used to estimate a person's body 
            fat based on their weight and height. It is a commonly used metric in healthcare and fitness to 
            quickly assess whether a person is underweight, normal weight, overweight, or obese. </p>
            <p>It's important to note that BMI has its limitations. It does not take into account factors like muscle mass,
                 bone density, or distribution of weight, all of which can affect a person's health.
                 As a result, it is a rough estimate and should not be the sole determinant of a person's health status.</p>
    </mat-card-content>
</mat-card>
